<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/style.css">

</head>


<body>
    <div id="app">

        <header class="site-header">
            <div class="logosite">
                <img class="logo" src="./assets/img/Logo.png" alt="logo toboolist">
                <span id="text-logo"><b>TodoList</b></span>
            </div>
        </header>
        <!-- site header -->



        <div class="bg-color">

            <div class="container p-4">
                <div class="raw">
                    <div class="p-2">
                        <input type="text" v-model="textNewTask" placeholder="Inserisci Task" @keyup.enter="addTask()">
                    </div>
                    <div class="raw">
                        <button class="button-task m-2" type="button" @click="addTask()">Add Task</button>
                        <button class="button-section m-2">Add Section</button>
                    </div>
                </div>
            </div>
            <!-- Section button add tasks -->

 
            <div class="container">
                <h3 class="title pb-3"><i class="fa-solid fa-arrow-down"></i> <b>Tasks List</b></h3>
                <ul>
                    <div v-for="(task, index) in list" @click="lineTr(index)">
                        <li v-if="list[index].done === true" style="text-decoration: line-through;">{{task.text}}<i
                                class="fa-solid fa-x p-2" @click="removeTask(index)"></i></li>
                        <li v-else>{{task.text}} <span class=""><i class="fa-solid fa-x" @click="removeTask(index)"></i></span></li>
                    </div>
                </ul>
            </div>
        </div>
        <!-- section task -->

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>